<?xml version="1.0" ?>

<robot name="A02LS-P" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="A02L_joints_links.xacro" />
  <xacro:A02L_joints_links product_id="A02LS-P" prefix="" mesh_prefix_path="package://flexiv_description/" />

  <xacro:include filename="flexiv_arm_materials.xacro" />
  <xacro:flexiv_arm_materials />

</robot>
