<?xml version="1.0" ?>

<robot name="A02LMR-M" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="A02LMR_joints_links.xacro" />
  <xacro:A02LMR_joints_links product_id="A02LMR-M" prefix="" mesh_prefix_path="package://flexiv_description/" />

  <xacro:include filename="flexiv_arm_materials.xacro" />
  <xacro:flexiv_arm_materials />

</robot>